body {
    height: 100vh;
    width: 100vw;
    $background: #ffffff;
    font-family: sans-serif;
}

.aquarius {
    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      "nav nav"
      "ace mermaid"
    ;

    &__nav {
        padding: 0.5em;
        border-bottom: 1px solid #f6f6f6;
        grid-area: nav;
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        -webkit-app-region: drag;

        & > * {
            margin-right: 0.3em;
        }
    }

    &__filename {
        font-size: 0.7em;
        color: #999999;
        margin-left: 1em;
    }
}

.button {
    $background: #ffffff;
    $foreground: #333333;
    font-size: 0.8em;
    padding: 0.3em 0.4em;
    background-color: $background;
    border: none;
    color: $foreground;
    border-radius: 3px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover,
    &:focus {
        outline: none;        
        background-color: darken($background, 5%);
    }

    &[disabled] {
        cursor: inherit;
        color: lighten($foreground, 30%);

        &:hover,
        &:focus {
            background-color: inherit;
        }
    }

    &--submitting {
        position: relative;
        color: $foreground;

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: #02AFF5;
            animation: submitting 0.5s ease-in-out infinite alternate;
        }
    }

    &--submit-success {
        color: #00CE86;
        animation: submitSuccess 0.2s ease-out;
    }
}

@keyframes submitting {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }
    
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes submitSuccess {
    0% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}
